<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sprawozdanie</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
  </head>
  <body>
    <main>
        <div id="main_container">
            <h1>Sprawozdanie</h1>
            <button onclick="loadSubpage(1)">Load Subpage 1</button>
            <button onclick="loadSubpage(2)">Load Subpage 2</button>  

        </div>
        
        <div id="subpage-1" style="display: none;">
            <h2>Subpage 1</h2>
            <p>This is subpage 1 content.</p>
        </div>
        
        <div id="subpage-2" style="display: none;">
            <h2>Subpage 2</h2>
            <p>This is subpage 2 content.</p>
        </div>
    </main>
	<script src="index.js"></script>
  </body>
</html>